@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
  --color-blue: #457b9d;
  --color-black: #171719;
  --color-red: #e63946;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-black);
  background-color: #f5f5f5;
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-blue);
  font-size: 4rem;
  text-shadow: 5px 5px #eddcd2;
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-style: italic;
  background: linear-gradient(to right, #2196f3, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  padding: 0 2vw;
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
}

.controls h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--color-blue);
}

.controls-inner {
  background-color: #a8dadc;
  text-align: center;
  padding: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.grid-size {
  margin-bottom: 0.5rem;
  color: var(--color-black);
  font-weight: 500;
  font-size: 1.8rem;
}

.apply {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-blue);
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.reset {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
}

.grid {
  border: 2px solid #a8dadc;
  border-radius: 1rem;
  width: 70rem;
  height: 70rem;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box {
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}

.box.active {
  background-color: var(--color-blue);
}
